.rent-hero {
  height: 400px;
  width: 100%;
  background-image: url("../../../public/buy-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.rent-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.rent-hero-content {
  position: relative;
  z-index: 1;
}

.rent-hero h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.rent-hero-breadcrumb {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.rent-hero-breadcrumb span {
  color: white;
}

@media (max-width: 768px) {
  .rent-hero {
    height: 200px;
  }

  .rent-hero h1 {
    font-size: 36px;
  }

  .rent-hero-breadcrumb {
    font-size: 14px;
  }
}
