.list-your-form-section {
  width: 100%;
  background-image: url("../../assets/list-your/list-your.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin-bottom: 100px;
  position: relative;
}

.list-your-form-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Filtre noir semi-transparent */
}

.list-your-form-container {
  position: relative;
  z-index: 1; /* Pour que le contenu soit au-dessus du filtre noir */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}

.form-left {
  flex: 0.6;
  padding: 40px 30px;
  color: white;
  position: relative;
  background: rgba(70, 0, 20, 0.8);
}

.keep-close {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: white;
}

.form-left h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.list-your-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-row input {
  flex: 1;
  padding: 15px;
  border: none;
  background-color: white;
  font-size: 14px;
}

.list-your-form textarea {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: white;
  height: 120px;
  resize: none;
  font-size: 14px;
  font-family: inherit;
}

.send-message-btn {
  background-color: #460014;
  color: white;
  border: 1px solid white;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-message-btn:hover {
  background-color: #2d000d;
}

.form-right {
  flex: 0.4; /* Réduit la largeur par rapport à form-left */
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-right h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.form-right p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}
.keep-close::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
}

.highlight-text {
  font-weight: 600;
  font-size: 18px;
  color: #460014 !important;
}

@media (max-width: 992px) {
  .list-your-form-container {
    flex-direction: column;
  }

  .form-left {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    gap: 15px;
  }
}
